@charset "UTF-8";

/* 전체 컨테이너 */
.policy-container {
  display: flex;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}

/* 좌우측 사이드바 */
.policy-left-side,
.policy-right-side {
  width: 200px;
  box-sizing: border-box;
}

/* 글 가운데 정렬 */
.text-center {
  text-align: center;
}

/* 글 좌측 정렬 */
.text-left {
  text-align: left;
}

/* 우측 사이드바 고정 위치 */
.sidebar-fixed {
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  right: 30px;
  width: 200px;
}

/* 좌측 사이드바 위치 조정 */
.sidebar-fixed.left {
  left: 30px;
  right: auto;
}

/* 사이드바 panel */
.sidebar-panel {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ffffff;
}

/* 사이드바 패널 머릿말 */
.p-heading {
  background-color: #f5f0e6;
  color: #333;
  font-size: 14px;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* 사이드바 패널 ul */
.panel-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 사이드바 패널 li */
.panel-body li a {
  display: block;
  padding: 10px 15px;
  color: #337ab7;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s;
  border-radius: 6px;
}

.panel-body li a:hover {
  background-color: #eee;
}

/* 정책 내용 div */
.policy-content {
  flex-grow: 1;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* 정책 라벨 */
.policy-label {
  font-size: 12px;
  color: #777;
  margin-right: 5px;
  display: inline-block;
  padding: 3px 8px;
  background: #eee;
  border-radius: 12px;
  
}

/* D-Day 10일 이하 css */
.dday-red {
  color: red;
  font-weight: bold;
}

/* 정책 테이블 */
.policy-table {
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  font-size: 14px;
  border-top: 2px solid #000;
}

.policy-table th,
.policy-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.policy-table th {
  background-color: #f9f9f9;
  font-weight: bold;
  width: 150px;
  white-space: nowrap;
  vertical-align: top;
}

.policy-table a{
  display: block;
  color: #337ab7;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s;
  border-radius: 6px;
}

/* 정책 설명 */
.policy-explane {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
  padding: 0 10px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

/* 정책 테이블 타이틀 */
.policy-table-title {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}

/* 반응형 */
@media (max-width: 768px) {
  .policy-container {
    flex-direction: column;
  }
  .sidebar-fixed,
  .sidebar-fixed.left {
    position: static;
    transform: none;
    margin-bottom: 20px;
  }
  .policy-table {
    width: 100%;
  }
}
